footer {
    background-color: lightgreen;

    color: green;
    font-weight: bolder;
    text-align: center;
      padding: 8px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 40px;
    box-shadow: 0 -5px 5px #CBF6FF;
  }
 